
.audio-player-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 0.5rem 1rem;
  color: white;
}

.episode-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cover {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
}
.player-controls-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.progress-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.progress-container input[type="range"] {
  flex: 1;
  height: 4px;
  cursor: pointer;
  accent-color: #0dbd8b;
}
.right-controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: auto;
}
.volume-icon,
.menu-icon {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.menu-icon:hover {
  color: #0dbd8b;
}
.buttons button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

